@import url('https://redacted.ch/static/styles/red_dark/style.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

body{
	font-family: 'Lato', sans-serif;
}

#userinfo {
    padding: 3px 5px 0px 5px;
    margin-bottom: 5px;
}

#logo {
    padding-left: 150px;
}

#menu {
    order: 3;
    padding-right: 350px;
}

#searchbars {
	margin-top: 8px;
}
